* {
    font-family: 'Alegreya', serif;
}

canvas {
    margin: 0 auto;
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url("../assets/img/canvas-background.png") repeat;
    border: 1px solid black;
    border-radius: 5px;
}

body {
    text-align: center;
    background: url("../assets/img/background.png") no-repeat center center fixed;
    background-size: cover;
}

#ui {
    width: 576px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;

    background: rgba(162, 207, 240, 0.75);
    opacity: 0;
}

#time {
    font-size: 36px;
    line-height: 35px;
}

#combo.fadeable {
    -webkit-transition: opacity 0.75s, font-size 0.75s, -webkit-transform 0.75s ease-out;
    transition: opacity 0.75s, font-size 0.75s, transform 0.75s ease-out;
    opacity: 0;
}

.fadeable {
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.combo {
    top: 280px;
    color: yellow;
}

.combo span {
    color: darkred;
}

.messages span {
    font-size: 80px;
    color: darkred;
}

.messages, .combo {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    color: lightgrey;
    font-size: 40px;
    pointer-events: none;

    -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.zoom {
    font-size: 100px;

}

.ui-cell {
    font-size: 18px;
    width: 33.33333333%;
    color: white;
    cursor: default;
    float: left;
    line-height: 40px;

    -webkit-text-stroke: 1px black;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
